.btn {
  background-color: var(--color-light);
  padding: var(--padding-small) var(--padding-normal);
  border-radius: var(--border-radius);
  display: inline-block;
  transition: background-color var(--transition);
  font-weight: 500;
}

.btn.transparent {
  background-color: transparent;
}

.btn.accent {
  background-color: var(--color-accent);
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--color-accent);
  }

  .btn.transparent:hover {
    background-color: var(--color-light);
  }

  .btn.btn.accent:hover {
    background-color: var(--color-accent-dark);
  }
}
