.btn {
  padding: var(--padding-small) var(--padding-normal);
  display: inline-block;
  text-align: center;
  transition: var(--transition);
  transition-property: background-color, color;
  user-select: none;
}

.btn.light {
  background-color: var(--color-light);
}

.btn.ghost {
  background-color: var(--color-background);
  padding: calc(var(--padding-small) - 0.4rem) calc(var(--padding-normal) - 0.4rem);
  border: 0.4rem dashed var(--color-light);
}

.btn.dark {
  background-color: var(--color-text);
  color: var(--color-background);
}

@media (hover: hover) {
  .btn:hover {
    background-color: var(--color-light);
  }

  .btn.light:hover {
    background-color: var(--color-accent);
    color: var(--color-background);
  }

  .btn.dark:hover {
    background-color: var(--color-accent);
  }
}
