@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-size: 62.5%;

  --color-text: #18181b;
  --color-dark: #49494d;
  --color-mid: #a9a9ac;
  --color-light: #f0f0f0;
  --color-background: #ffffff;
  --color-accent: #ff6680;

  --font: 'Inter', sans-serif;
  --font-mono: 'Jetbrains Mono', monospace;

  --font-size-small: 2rem;
  --font-size-big: 5rem;
  --font-size-mega: 10rem;

  --padding-small: 1.5rem;
  --padding-normal: 3rem;
  --padding-big: 6rem;
  --padding-large: 16rem;

  --transition: 200ms ease;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
button,
label,
input {
  font-size: var(--font-size-small);
  font-family: var(--font);
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
}

::selection {
  background-color: var(--color-light);
}
