.sign-up {
  display: grid;
  grid-template-columns: 3fr 4fr;
  padding: 0 var(--padding-large);
  padding-bottom: var(--padding-large);
  height: 100%;
  place-items: center left;
}

h2 {
  font-size: var(--font-size-mega);
  font-weight: 700;
}
