nav {
  padding: var(--padding-big) var(--padding-large) var(--padding-normal) var(--padding-large);
}

nav a {
  display: flex;
  align-items: center;
  width: fit-content;
}

nav svg {
  width: var(--padding-normal);
  height: var(--padding-normal);
}

nav svg path {
  fill: var(--color-text);
  transition: fill var(--transition);
}

nav span {
  margin: 0 var(--padding-normal);
  transition: color var(--transition);
}

@media (hover: hover) {
  nav a:hover * {
    color: var(--color-mid);
    fill: var(--color-mid);
    cursor: pointer;
  }
}

@media (max-width: 800px) {
  nav {
    padding: var(--padding-big) var(--padding-big) var(--padding-normal) var(--padding-big);
  }
}
